:root {
    --orange: #e8491d;
    --darkgrey: #35424a;
    --lightgrey: #aaa;
    --lightergrey: #cac7c7;
    --item-bg-grey: #ebebeb;
    --primary: #007bff;
    --white: #fff;
    --primary-darker: #0860c5;
    --bronze: #CD7F32;
    --silver: #c0c0c0;
    --gold: #d4af37;
}

@media (min-width: 1200px) {
    .container{
        max-width: 85%;
    }
}


footer{
    margin-top: 20px;
    padding: 10px;
    padding-top: 25px;
    background: var(--orange);
    color: var(--white);
    text-align: center;
    font-size: 20px;
    height: 80px;
}

.center-inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.round-edges {
    border-radius: 10px;
}

#the-navbar {
    min-height: 125px ;
    background: var(--darkgrey);
    border-bottom: 4px solid var(--orange);
}

.navbar-dark .navbar-brand {
    color: var(--orange);
    font-size: 1.85em;
    background: var(--darkgrey);
    font-weight: bolder;
}

#the-navbar ul {
    margin-top: 20px;
}

#the-navbar li {
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0.565px;
    color: var(--lightgrey);
    font-size: 1.1em;
}

#the-navbar li:hover{
    color: var(--orange);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0;
}

#the-navbar li.router-link-exact-active {
    color: var(--orange);
    font-weight: bold;
    cursor: default;
    letter-spacing: 0;
}

#the-navbar a#signup {
    margin-left: 10px;
}

.background-img {
    width: 100%; 
}

.negative-margin {
    margin-right: -10.2%;
    margin-left: -10.2%;
}

.picture-container {
    position: relative;
}

.picture-container hr {
    position: relative;
    border: none;
    height: 2px;
    background: var(--lightgrey);
    margin-bottom: 10px;
}

.picture-container .centered-over-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home>.picture-container {
    text-align: center;
    color: var(--white);
    
}

#home h1 {
    font-weight: 700;
    font-size: 3.5em;
    text-shadow: 3px 4px var(--darkgrey);
}

#home p {
    font-weight: normal;
    font-size: 1.4em;
}

#base-field {
    margin-top: 15px;
}

#base-field small {
    color: var(--orange);
}

#base-form {
    padding: 20px 0;
    border-radius: 15px;
    background: var(--lightergrey);
    opacity: .9;
    max-width: 500px;
    min-width: 500px;
    width: 500px;
}

#base-form div#title {
    text-align: center;
    margin-top: 20px;
}

#base-form div#fail {
    text-align: center;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;   
}

#base-form div#submit {
    margin-top: 20px;
    text-align: center;
}

#password-box {
    position: relative;
}

#password-box input {
    display: inline-block;
}

#password-box img {
    padding-top: 5px;
    position: absolute;
    right: 8px;
}

#password-box img:hover {
    -webkit-filter: drop-shadow(1px 2px 2px var(--primary));
            filter: drop-shadow(1px 2px 2px var(--primary));
    cursor: pointer;
}

#login div#base-form {
    max-width: 350px;
    min-width: 350px;
    width: 350px;
}

#login a {
    display:block;
    text-align:center;
    margin: 15px;
}

li.restaurant-tab {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--lightergrey);
    color: var(--orange);
}

li.restaurant-tab:hover {
    background: var(--darkgrey);
}

li.restaurant-tab.router-link-exact-active {
    background: var(--darkgrey);
    font-weight: bold;
}

.image-info-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.image-left-side-container {
    margin: 25px;
}

.image-left-side {
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 350px;
    border-radius: 15px;
}

.info-right-side {
    margin: 25px;
    width: 100%;
}

.item {
    margin: 30px 0;
    background: var(--item-bg-grey);
    border-radius: 15px;
    border: 3px solid var(--orange);
    font: 1.2em;
}

#product label[for="productType"]+span {
    text-transform: lowercase;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 50px;
    right: 100px;
}


#product label {
    font-weight: bold;
}

#product div#num-input-range {
    width: 40%;
}

#product span.center-inline-flex {
    justify-content: space-between;
}

#restaurants-overview {
    padding-top: 30px;
}

#restaurant label {
    font-weight: 500;
}

#restaurant .item:hover {
    cursor: pointer;
    background: var(--lightgrey);
}

#restaurant #average-mark{
    color: var(--orange);
    font-size: 1.1em;
    font-weight: bold;
}

#restaurant-overview .image-info-container {
}

#restaurant-overview .image-left-side-container .image-left-side {
    max-width: 275px;
    max-height: 275px;
}

#restaurant-overview .info-right-side {
    margin-bottom: 70px;
}

.adjust-location-base-field {
    display: unset;
}

#ol-map {
    background: var(--orange);
    width: 100%;
    border-radius: 15px;
}

#ol-map h3 {
    padding-top: 5%;
    margin-left: 5%;
}

#ol-map hr {
    position: relative;
    border: none;
    height: 2px;
    margin: 0 5%;
    background: var(--darkgrey);
}

#ol-map #base-field label{
    font-weight: bold;
}

.map {
    width:400px; 
    height:400px;
    margin-left: 8%;
    border-radius: 20px;
    overflow: hidden;
}

.comments-overview h3{
    display: inline-block;
    background: var(--lightergrey);
    border-radius: 15px;
    padding: 10px 20px;
}

#comment {
    padding: 15px 30px;
}

#comment-avg-mark {
    color: var(--orange);
    font-weight: bold;
}

#comment label{
    font-weight: bold;
}

#comment hr {
    position: relative;
    border: none;
    height: 2px;
    background: var(--lightgrey);
}

#comment hr#above-content {
    margin-top: 0;
}

#comment #content {
    text-align: justify;
    font-style: italic;
}

#comment #status {
    margin: 15px 0;
}

.badge-props {
    font-size: 1.025em;
}

.add-restaurant {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.add-restaurant>#base-form {
    padding: 50px 0;
    margin: 0 auto;
    min-width: 1100px;
}

.add-restaurant #ol-map {
    background: var(--lightergrey);
}

.add-restaurant .image-info-container {
    display: unset;
}

.add-restaurant #map-root {
    margin-top: 30px;
    margin-left: 35%;
}

.add-restaurant #image-picker #preview {
    margin-top: 30px;
}

.add-user {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.add-user>#base-form {
    padding: 50px 0;
    margin: 0 auto;
    min-width: 650px;
}



.add-product {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.add-product>#base-form {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 650px;
    min-width: 650px;
    width: 650px;
}

.add-product #image-picker img {
    margin-top: 20px;
}

.add-product textarea {
    min-height: 180px ;
}

.edit-profile>#base-form {
    margin: 30px auto;
    max-width: 550px;
    min-width: 550px;
    width: 550px;
    
}

#finder #subfinders{
    padding: 15px 30px;
}


#finder #subfinders h5 {
    margin-bottom: 15px;
    color: var(--orange);
}

#finder #subfinders label {
    font-weight: 500;
    margin-right: 10px;
    margin-top: 5px
}

#sorters button {
    margin-right: 10px;
}

#sorters img {
    margin-bottom: 3px;
    margin-left: 5px;
}

#filters-option div.form-check-inline  {
    margin-right: 25px;
}

#filter-number-range div.form-check-inline>label {
    align-self: flex-start;
    width: 120px;
}

#filter-number-range div.form-check-inline div  {
    margin-right: 10px;
}

#filter-date-range div.form-check-inline>label {
    align-self: flex-start;
    width: 120px;
}

#filter-date-range div.form-check-inline div {
    margin-right: 7px;
}

#order {
    padding: 15px 30px;
    border: none;
}

.bronze-grad {
    background-image: linear-gradient(45deg, var(--bronze), var(--bronze), var(--lightergrey));
}

.silver-grad {
    background-image: linear-gradient(45deg, var(--silver), var(--silver), var(--gold));
}

.gold-grad {
    background-image: linear-gradient(45deg, var(--gold), var(--gold), var(--darkgrey));
}

#order label {
    font-weight: 500;
}

#delivery-request {
    padding: 15px 30px;
}

#delivery-request label {
    font-weight: 500;
}


#delivery-request>div{
    border: none !important;
    padding: 0 !important;
}


.shopping-cart>h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.shopping-cart #total-price {
    color: var(--orange);
    font-size: 1.1em;
    font-weight: bold;
}

.item-padding-label {
    padding: 15px 30px;
}

.item-padding-label  label {
    font-weight: 500;
    font-size: 1.1em;
}

.manager #restaurant>div>div:hover {
    cursor: default; 
    background: var(--item-bg-grey);
}

.manager label[for="restaurant"] {
    margin-bottom: 0;
    padding-bottom: 0;
}

.orders-overview h2 {
    padding-top: 30px;
}
